PORT=
MONGO_URI=
NODE_ENV=production
GEMINI_API_KEY=
GEMINI_MODEL=
SERPER_API_KEY=
RAPIDAPI_KEY=
GOOGLE_MAPS_API_KEY=
GOOGLE_PLACES_API_KEY=
AMADEUS_API_KEY=
AMADEUS_API_SECRET=
EXCHANGE_RATE_API_KEY=
PAYMOB_API_KEY=
PAYMOB_INTEGRATION_ID=
PAYMOB_IFRAME_ID=
EMAIL_USER=
EMAIL_PASS=
FIREBASE_SERVICE_ACCOUNT_JSON=
